#btnCnt {
    display: flex;
    justify-content: space-evenly;
}

#main {
    text-align: center
}

#btnNext {
    text-align: center;
    width: 70px !important;

}

#content_hide,#result_hide {
    display: none;
}
#result_display{
    display: block;
}
span {
    color: greenyellow;
}